<!DOCTYPE html>

<html lang="en">

<head>
    <title>{{ page.title | escape }} - Anno 1602/1602 AD FAQ/Strategy Guide</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords | array_to_sentence_string }}" />
    <meta name="author" content="Tim Howgego" />
    <meta charset="utf-8">
    <link title="Anno 1602" rel="stylesheet" type="text/css" href="../assets/1602.css" />
    <link rel="stylesheet" type="text/css" href="../assets/print.css" media="print" />
    <link rel="shortcut icon" href="../assets/favicon.ico'" />
</head>

<body>
    <div id="banner">
        <h1>
            <a href="{{ site.url }}" class="h1l" title="Homepage.">Home</a> // <a href="index.html" class="h1l" title="Anno 1602/1602 AD FAQ contents.">Anno 1602/1602 AD FAQ/Strategy Guide</a> // <a href="#contents" title="Skip to content, ignoring navigation."
                class="title">{{ page.title }}</a>
        </h1>

        <!--
        <div id="search">
            <form id="searchbox"></form>
        </div>
        -->
    </div>

    <div class="menu">
        <ul>
            <li><a href="index.html" class="menul" title="Anno 1602/1602 AD FAQ contents. Accesskey c." accesskey="c" rel="contents"><span class="u">C</span>ontents</a> &middot;</li>
            <li>Preface &middot;</li>
            <li><a href="2.html" class="menul" title="Introduction: Game information, patches, expansions. Accesskey i." accesskey="i"><span class="u">I</span>ntroduction</a> &middot;</li>
            <li><a href="3.html" class="menul" title="Gameplay: Concepts, interface, resources, colonies, trade, ships, combat, multiplayer. Accesskey g." accesskey="g"><span class="u">G</span>ameplay</a> &middot;</li>
            <li><a href="4.html" class="menul" title="Scenarios: Walkthrough. Accesskey n." accesskey="n">Sce<span class="u">n</span>arios</a> &middot;</li>
            <li><a href="5.html" class="menul" title="Strategies: Planning, management, trade, military. Accesskey r." accesskey="r">St<span class="u">r</span>ategies</a> &middot;</li>
            <li><a href="6.html" class="menul" title="Cheating, Editing and Custom Scenarios: Codes, editors. Accesskey e." accesskey="e">Cheating, <span class="u">E</span>diting and Custom Scenarios</a> &middot;</li>
            <li><a href="7.html" class="menul" title="Technical Issues: Solutions to common problems. Accesskey t." accesskey="t"><span class="u">T</span>echnical Issues</a> &middot;</li>
            <li><a href="8.html" class="menul" title="And Finally: The last word. Accesskey f." accesskey="f">And <span class="u">F</span>inally</a> &middot;</li>
            <li><a href="a.html" class="menul" title="Appendices. Accesskey a." accesskey="a"><span class="u">A</span>ppendices</a></li>
        </ul>
    </div>

    {{ content }}

    <div id="footer"><a href="1.html#preface_2" title="Legal statement and terms of use.">Copyright and Usage</a></div>

</html>
